server:
  port: 8999
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: catalogServiceRoute
            uri: lb://catalog-service/
            predicates:
              - Path=/catalog/**

